################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/zParserExtender/v16/Browse.VC.db
/.vs/zParserExtender/v16/Browse.VC.opendb
/.vs/zParserExtender/v16/ipch/AutoPCH/6626e6faafb5da54/INTERFACE.ipch
*.suo
*.ipch
/zParserExtender/G2A Release
/zParserExtender/MP Release
/zParserExtender/G2A Debug
/Bin/Новая папка (2)
/Bin/Новая папка
*.7z
*.log
/.vs/zParserExtender/v16
/Bin/zParserExtender — копия.dll
/zParserExtender/G1 Release
/zParserExtender/G1A Release/zParserExtender.tlog
/zParserExtender/G1A Release
/zParserExtender/G2 Release
/Bin/Test.d
/Bin/zParserExtender G2A 15.12.2021.zip
/.vs/zParserExtender/v17
/zParserExtender/G1 Debug
/.vs
